.formacion_titulo{
    display: flex;
    justify-content: center;
    color:rgb(3, 53, 124);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    text-shadow: 1px 1px 2px gray;
    text-transform: uppercase;
    padding: 1.2rem;
    margin: 1.2rem;
    text-align: center;
}
.formacion_container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
  }

  .formacion_item {
    background-color: #ffff;
    border-radius: 4px ;
    border: 1px solid rgb(7, 117, 195);
    box-shadow: 1px 2px 2px 2px #979696;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 10px;
    flex: 1 0 200px;  
  }
  .formacion_item-titulo {
    color:rgb(3, 53, 124);
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    margin: 10px; 
  }
  .formacion_item-texto {
    color:rgb(41, 41, 42);
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    margin: 10px; 
  }
  .formacion_item-btn{
    border-radius: 5px;text-align:center;background-color:#d9a004; border-style: none; padding: .5rem; width: 50%;
  }
  .formacion_item-btn:hover{
    background-color:rgb(7, 117, 195); 
    transition: all 1s ease;
    transform: scale(1.1);
  }
  .formacion_item-btn-link{
    color:rgb(41, 41, 42);
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: .5rem
  }
  .formacion_item-btn-link:hover{
    color:rgb(254, 254, 255);
    transition: all 1s ease;
    transform: scale(1.1)
  }
  @media screen and (max-width: 600px) {
    .formacion_item {
      flex-basis: 100%;
    }
  }