.ir-arriba {
	font-family: 'Noto Sans', sans-serif;
	padding:20px;
	display:inline-block;
	background:rgb(5, 76, 176);
	color:#fff;
	position: fixed;
	font-size:16px;
	bottom:10px;
	right:10px;
	display:none;
	cursor:pointer;
}
