.hobbies_titulo{
    display: flex;
    justify-content: center;
    color:rgb(3, 53, 124);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    text-shadow: 1px 1px 2px gray;
    text-transform: uppercase;
    padding: 1.2rem;
    margin: 1.2rem;
    text-align: center;
}
.hobbies_container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
  }

  .hobbies_item {
    background-color: #ffff;
    border-radius: 4px ;
    border: 1px solid rgb(3, 53, 124);
    box-shadow: 1px 2px 2px 2px #979696;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 10px;
    flex: 1 0 200px;
  }
  .hobbies_item-titulo{
    color:rgb(3, 53, 124) ;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
  .hobbies_item-texto {
    color:rgb(41, 41, 42);
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    margin: 10px; 
  }
  @media screen and (max-width: 600px) {
    .hobbies_item {
      flex-basis: 100%;
    }
  }